{% extends "base.html" %} {% block title %}RSS_Finder{%endblock%} {% block
content %}
<div class="container">
  <div class="row">
    <div class="column column-70" style="margin: auto">
      <form action="result" method="POST">
        <fieldset>
          <textarea
            placeholder="Enter keywords.."
            id="commentField"
            name="search"
          ></textarea>
          <input
            type="text"
            placeholder="Number of page results"
            id="searchField"
            name="res"
          />
          <input
            class="button-primary btnSubmit"
            type="submit"
            value="Search"
            onclick="showLoader()"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div
  class="hide loader loader-default is-active"
  data-text="Scraping Possible RSS Links"
></div>
{%endblock%}
